/*
    Name: Javidan Hasanzade
    File: style.css
    Date last modified: 21 February 2025
    Description: Fundamental layout comprehension styling
*/

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    /*display article and aside as 2 col table*/
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    /*stays on page when scrolling down: */
    position: sticky;
  }
  
  nav ul {
    width: 60%;
    margin: 0;
    padding: 0;
    list-style: none;
    /*display in 1 row with space between elements: */
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    padding: 0;
    /*display in a grid of 2 equal weighted cols: */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  ul.photos li{
    margin: 0 2px 2px 0;
    padding: 0;
  }

  ul.photos li img{
    display: block;
  }

  .feature {
      width: 200px;
      float: left;
      margin: 0 1rem 1rem 0;
      display: block;
  }